extends ./layout.jade

block style
  link(rel="stylesheet" href="../res/css/schedule.css")

block content
  section
    .section-wrapper
      .schedule-page
        .schedule-header
          a.cur-page(href="/html/schedule.html") 赛程
          a(href="/html/ranking.html") 积分榜
        .schedule-turn
          - var items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25];
          each item in items
            - if (item == 1)
              a.cur-turn(href="") #{item}
            - else
              a(href="#") #{item}
        .schedule-list
          - var items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25];
          each item in items
            - if (item > 10)
              .schedule-game.no-start
                .the-header 比赛结束 08-26
                .the-item
                  div
                    div.img-container
                      img(src="http://iph.href.lu/87x87", alt="")
                    span 巴黎圣日耳曼
                  div 
                    span.score #{item}-#{item}
                  div
                    div.img-container
                      img(src="http://iph.href.lu/87x87", alt="")
                    span 巴黎圣日耳曼
            - else
              .schedule-game
                .the-header 比赛结束 08-26
                .the-item
                  div
                    div.img-container
                      img(src="http://iph.href.lu/87x87", alt="")
                    span 巴黎圣日耳曼
                  div 
                    span.score #{item}-#{item}
                  div
                    div.img-container
                      img(src="http://iph.href.lu/87x87", alt="")
                    span 巴黎圣日耳曼